body {background-color: #4F2461;
	  color: #DECECE;}

.gamePlay {width: 75%;
		   border: 2px solid #9E9090;
		   margin: 100px auto;
		   border-radius: 5px;
		   padding: 20px;
		   background-color: #857373;
		   -webkit-box-shadow: 8px 5px 5px 0px rgba(0,0,0,0.45);
           -moz-box-shadow: 8px 5px 5px 0px rgba(0,0,0,0.45);
           box-shadow: 8px 5px 5px 0px rgba(0,0,0,0.45);
           height: 350px;}

.gamePlay h1 {margin-top: 50px}           

.gamePlay input[type=text] {margin-top: 20px;
							 border-radius: 5px;
							 height: 40px;
							 padding-left: 10px;
							 width: 300px;
							 color: gray;
							 font-size: 14pt;}           

h1 {color: #FFF;}		   

div#game {display: none;}

.players {width: 20%;
		  border: 2px solid #9E9090;
		  border-radius: 3px;
		  padding: 5px;
		  background-color: #857373;
		  color: #DECECE;
		  -webkit-box-shadow: 8px 5px 5px 0px rgba(0,0,0,0.45);
          -moz-box-shadow: 8px 5px 5px 0px rgba(0,0,0,0.45);
          box-shadow: 8px 5px 5px 0px rgba(0,0,0,0.45);
      	  min-height: 215px;}

.players h3 {color: #FFF;}          

#player1 {float: left;}

#player2 {float: right;}

#btnBegin {border-radius: 4px;
		   background-color: #77588C;
		   border: 1px solid #49311c;
		   padding: 8px 15px;
		   font-weight: bold;
		   margin-top: 10px;
           -webkit-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.64);
           -moz-box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.64);
           box-shadow: 6px 6px 5px -3px rgba(0,0,0,0.64);}	

.playerResults {margin-top: 20px;
				font-weight: bold}

ul li {cursor: pointer;}				

ul li:hover {background-color: #9E9090;
			 font-weight: bold;}

.waiting {margin-top: 5%;}	

#reset {color: #000;}		 				           	  

